<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Boilerplate</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" charset="utf-8">
</head>
<body>

  <div class="container" id="app">

    <div class="page-header">
      <h1>Inventory</h1>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Substrate</th>
          <th>Type</th>
          <th>Manufacturer</th>
          <th>Format</th>
          <th>Size</th>
          <th>Wholesale Cost</th>
          <th>Retail Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody class="item-view">
        <!-- <tr>
          <td>Acrylic</td>
          <td>1/4"</td>
          <td>Acrylite</td>
          <td>rigid</td>
          <td>96x48</td>
          <td>$120</td>
          <td>$7 ft<sup>2</sup></td>
          <td>20</td>
        </tr>
        <tr>
          <td>Canvas</td>
          <td>Semigloss</td>
          <td>Fredericks</td>
          <td>rigid</td>
          <td>96x48</td>
          <td>$120</td>
          <td>$7 ft<sup>2</sup></td>
          <td>20</td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <!-- TEMPLATES -->
  <script type="text/template" id="item-template">
    <td><%= substrate %></td>
    <td><%= type %></td>
    <td><%= manufacturer %></td>
    <td><%= format %></td>
    <td><%= size %></td>
    <td><%= wholesaleCost %>120</td>
    <td><%= retailPrice %> ft<sup>2</sup></td>
    <td><%= stock %></td>
  </script>
  <!-- JS Dependencies -->
  <script src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/libs/underscore/underscore-min.js" charset="utf-8"></script>
  <script src="/libs/backbone/backbone-min.js" charset="utf-8"></script>
  <!-- MODELS -->
  <script src="/js/models/item-model.js" charset="utf-8"></script>
  <!-- VIEWS -->
  <script src="/js/views/item-view.js" charset="utf-8"></script>
  <!-- COLLECTIONS -->
  <script src="/js/collections/items-collection.js" charset="utf-8"></script>
  <!-- APP -->
  <script src="/js/app.js" charset="utf-8"></script>
</body>
</html>
