<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory | Backbone</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" charset="utf-8">
</head>
<body>

  <div class="container" id="app">

    <div class="page-header">
      <h1>Inventory</h1>
      <h3>
        <button type="button" class="btn btn-info new-item">
          <span class="glyphicon glyphicon-plus"></span> New Item
        </button>
      </h3>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Substrate</th>
          <th>Type</th>
          <th>Manufacturer</th>
          <th>Format</th>
          <th>Size</th>
          <th>Wholesale Cost</th>
          <th>Retail Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody class="item-view">
      </tbody>
      <tfoot class="new-item">
      </tfoot>
    </table>

  </div> <!-- END main .container -->

  <!-- TEMPLATES -->
  <!-- ================================================== -->
  <!-- Item Template -->
  <script type="text/template" id="item-template">
    <td class="substrate">
      <button class="btn btn-default delete-row">
        <span class="glyphicon glyphicon-trash"></span>
      </button>&nbsp;&nbsp;
      <%= substrate %>
    </td>
    <td class="type"><%= type %></td>
    <td class="manufacturer"><%= manufacturer %></td>
    <td class="format"><%= format %></td>
    <td class="size"><%= size %></td>
    <td class="wholesaleCost">$<%= wholesaleCost %></td>
    <td class="retailPrice">$<%= retailPrice %> ft<sup>2</sup></td>
    <td class="stock"><%= stock %></td>
  </script>
  <!-- Item EDIT Template -->
  <script type="text/template" id="item-edit-template">
    <input type="text" autofocus="true" name="<%= prop %>"
    class="input-edit" placeholder="<%- val %>">
  </script>
  <!-- NEW Item Template -->
  <script type="text/template" id="new-item-template">
    <td>
      <input type="text" name="substrate"
      placeholder="Substrate">
    </td>
    <td>
      <input type="text" name="type"
      placeholder="Type">
    </td>
    <td>
      <input type="text" name="manufacturer"
      placeholder="Manufacturer">
    </td>
    <td>
      <input type="text" name="format"
      placeholder="Format">
    </td>
    <td>
      <input type="text" name="size"
      placeholder="Size">
    </td>
    <td>
      <input type="text" name="wholesaleCost"
      placeholder="Wholesale Cost">
    </td>
    <td>
      <input type="text" name="retailPrice"
      placeholder="Retail Price">
    </td>
    <td>
      <input type="text" name="stock"
      placeholder="Stock">
      <button type="button" name="button" class="btn btn-info save-item">
        <span class="glyphicon glyphicon-save"></span>
      </button>&nbsp;
      <button type="button" name="button" class="btn btn-info delete-item">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </script>

  <!-- JS Dependencies -->
  <script src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/libs/underscore/underscore-min.js" charset="utf-8"></script>
  <script src="/libs/backbone/backbone-min.js" charset="utf-8"></script>
  <!-- MODELS -->
  <script src="/js/models/item-model.js" charset="utf-8"></script>
  <!-- VIEWS -->
  <script src="/js/views/item-view.js" charset="utf-8"></script>
  <script src="/js/views/new-item-view.js" charset="utf-8"></script>
  <script src="/js/views/app-view.js" charset="utf-8"></script>
  <!-- COLLECTIONS -->
  <script src="/js/collections/items-collection.js" charset="utf-8"></script>
  <!-- APP -->
  <script src="/js/app.js" charset="utf-8"></script>
</body>
</html>
